@media only screen and (max-width: 500px) and (min-width: 280px) {
    .imgLogoSize{
        width:75%;
    } 
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.btn-primary{
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
}

.card-border{
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

/* NAV */

.decoration-navbar{
    text-decoration: none;
    border-radius: 20px;
    border: -1px;
}
.decoration-navbar:hover{
    transform: scale(1.02);
    transition: all .9s;
    font-weight: 600;
    background-color: #8c6344;
    box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, .78);
}

.font-size-tittle{
    font-size: 60px;
}

span{
    font-size: 4.5rem;
}

/* HERO */

#hero{
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ) ,url(../img/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#ribbon{
    background-color: #413831;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(45, 37, 30, 0.5) 25px, rgba(45, 37, 30, 0.5) 40px);
}
    
#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#ofert{
    background-color: #413831;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    img{
        position: relative;
        margin-top: -30px;
    }
}

#separador__ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    .content{
        background-color: #8c6344;
        width: 150%;
        height: 150px;
        margin-left: -25%;
        border-bottom-left-radius: 99%;
        border-bottom-right-radius: 99%;
    }
}

/* SOBRE NOSOTROS */

#sobre__nosotros{
    background-repeat: repeat-x;    
    background-size: 75%;
    margin-top: -20px;
}

/* NUESTROS SERVICIOS */

#nuestros__servicios{
    background-color: #8c6344;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

/* DONDE ESTAMOS */

#donde__estamos{
    background-color: #8c6344;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    .card-border{
        border: solid 10px white;
        border-radius: 20px;
        overflow: hidden;
        transition: all ease-out 0.2s;
    }
    .card-border:hover{
        transform: scale(1.05);
    }
}

/* BLOG */

#classic{
    .card-border{
        border-radius: 20px;
        overflow: hidden;
        transition: all ease-out 0.2s;
    }
    .card-border:hover{
        transform: scale(1.02);
    }   
}

/* NUESTROS PRODUCTOS */

#products{
    background: #413831;
    background: url("../img/topography.svg"), linear-gradient(0deg, #5c5855 0%, #413831 57%);
    background-repeat: repeat-x; 
    background-size: cover;   
    background-size: 75%;
    margin-top: -20px;
}

/* DATOS CAFE */

#datos__cafe{
    background: #413831;
    background: url("../img/topography.svg"), linear-gradient(0deg, #5c5855 0%, #413831 57%);
    background-repeat: repeat-x;    
    background-size: 75%;
    margin-top: -20px;
}

/* FOOTER */

.decoration{
    text-decoration: none;
}

.decoration:hover{
    text-decoration:underline;
}

/* BOTON SCROLL UP*/

.button-up{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    background: $principal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 4px solid transparent;
    cursor: pointer;
    z-index: 2;
}

.button-up:hover{
    transform: scale(1.1);
    transition: all 700ms ease;
    border-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}