/////////////////////////////////
// 1. Patrones de colores
/////////////////////////////////
$principal: #ce6d06;
$borde: 0px;
$segundario: #ffeedc;
$terciario: #ede9e1;
$informacion: #413831;
$navbar-toggler-padding-y: 0em;
$navbar-toggler-padding-x: 0rem;


$pallete: (
    'brown': #413831,
    'orange': #ce6d06,
    'semi-white': #ffeedc
    );



/////////////////////////////////
// 2. Modificando variables de Bootstrap
/////////////////////////////////
$primary: $principal;
$secondary: $segundario;
$info: $informacion;
$success: $terciario;
$enable-shadows:true;
$btn-padding-y: 1rem;
$btn-padding-x: 1.8rem;
$btn-border-radius: 1.5rem;

$card-border-width: $borde;